/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  color: black;
}

/**** navbar */

.navbar-container {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 0.1), 0px -1px 20px rgb(0 0 0 / 0.1);
  background-color: white;
}

.nav-btn {
  border: none;
  font-size: 1.05rem;
  position: relative;
  background-color: transparent;
  color: black;
}

.nav-btn:hover {
  color: orange;
}

.nav-btn div:nth-last-child(1) {
  font-size: 1.3rem;
}

span {
  position: absolute;
  top: -0.6rem;
  right: -0.55rem;
  background-color: blue;
  color: white;
  padding: 4px;
  font-size: 0.8rem;
  border-radius: 50%;
}

.nav-btn div {
  padding: 5px 0;
}

/* home */
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h3 {
  font-size: 2rem;
}

.bars {
  visibility: hidden;
}

/* filter buttons */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.filter-container button {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1.1rem;
}

.filter-container button:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

/* Product styles */

.products-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 230px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0px 20px 25px rgb(0 0 0 / 0.1), 0px -1px 20px rgb(0 0 0 / 0.1);
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
}

.products-item:nth-last-child(1) {
  margin-bottom: 100px;
}

.img-container {
  width: 35%;
  height: 100%;
  padding-top: 20px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.info {
  padding: 25px 0;
}

.info p {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}

.price-container {
  display: flex;
  align-items: center;
}

.info .price {
  color: black;
}

.add-btn {
  margin-left: 20px;
  padding: 15px;
  background-color: black;
  border-radius: 10px;
  border-top-left-radius: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* cart page styles */
.cart-section {
  padding: 10px 20px;
}

.cart-title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cart-container h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
}

.remove-btn {
  border: none;
  background-color: transparent;
  letter-spacing: 3px;
  color: var(--clr-primary);
}

.amount-btn {
  border: none;
  color: var(--clr-primary);
  background-color: transparent;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid var(--clr-primary);
  margin-bottom: 60px;
}

/******* Me page styles */

.me {
  width: 70%;
  margin: 100px auto;
  max-width: var(--large-screen-width);
}

.me-text {
  padding-top: 50px;
}

.me-text p {
  text-align: center;
}

.me-btns {
  display: flex;
  flex-direction: column;
}

.login-btn {
  width: 100%;
  background-color: var(--clr-primary);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  background-color: transparent;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 5px;
}

/* dashboard */
.dashboard {
  padding: 10px;
}

/* media queries */
@media screen and (max-width: 300px) {
  .navbar {
    width: 95%;
    padding: 8px;
  }
  header h3 {
    font-size: 1.35rem;
  }

  .filter-container {
    padding: 10px;
  }

  .price-container .price {
    font-size: 0.9rem;
    padding-top: 15px;
  }

  .add-btn {
    padding: 7px;
  }

  .cart-section {
    padding: 5px;
  }

  .products-item {
    width: 90%;
  }
}

@media screen and (min-width: 750px) {
  .navbar {
    width: 65%;
    padding: 15px;
  }

  header {
    padding: 20px;
  }

  header h3 {
    font-size: 3rem;
  }

  .filter-container {
    padding: 10px;
    justify-content: space-evenly;
  }

  .filter-container button {
    font-size: 1.5rem;
  }

  .products-item {
    height: 300px;
    width: 80%;
  }

  .products-item:nth-last-child(1) {
    margin-bottom: 110px;
  }

  .info h4 {
    font-size: 1.3rem;
  }

  .info p {
    font-size: 1.3rem;
  }

  .price-container .price {
    font-size: 1.5rem;
    padding-top: 15px;
  }

  .add-btn {
    padding: 20px;
    border-top-left-radius: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-container {
    position: fixed;
    left: 0;
    bottom: 0rem;
    width: 80px;
    height: 100%;
    margin: 0;
  }

  .navbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
  }

  .products-container {
    margin-left: 80px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 20px;
  }

  .products-item {
    height: 300px;
  }

  .products-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .cart-section {
    margin-left: 80px;
    max-width: 3000px;
  }

  .cart-title {
    padding-right: 550px;
  }

  .cart-item {
    width: 60%;
    padding-right: 100px;
  }

  .me {
    display: flex;
    width: 80%;
  }

  .dashboard {
    padding-left: 90px;
  }
}
